<app-pipe-parametrized></app-pipe-parametrized>

<p> {{ 1234556 | customSizePipe:'MB'}} </p>

<p appHighlight [highlightColor]="myHighlightColor"> Highlight me </p>
<input appHighlight highlightColor="yellow"/>

<select>
  <option>Select an option</option>
  <option *ngFor="let item of dropDownList" [value]="item.id">{{item.name}}</option>
</select>

<input [(ngModel)]="cardNumber"/>
<img ccLogo [cardNumber]="cardNumber" width="30" height="30"/>
<!--<input ccLogo type="image" [cardNumber]="cardNumber"/>-->



