<header></header>

<nav>
  <button><a routerLink="/">Home</a></button>
  <button><a routerLink="/parent">Parent</a></button>
  <button><a routerLink="/child">Child</a></button>
  <button><a routerLink="/employees/employee1">Employee1</a></button>
  <button><a routerLink="/employees/employee2">Employee2</a></button>
<!--  <button><a routerLink="/test-directive">Test Directive</a></button>-->
  <button><a routerLink="/reactive-form">Reactive Form</a></button>
  <button><a routerLink="/reactive-using-fb">Reactive using FormBuilder</a></button>


</nav>


<footer></footer>

<router-outlet></router-outlet>
