<app-header></app-header>

<app-my-menu [menuItems]="menuItems"></app-my-menu>

<!--
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/employee">Emplyee</a>
  <a routerLink="/test_directive">Directive Test </a>
  <a routerLink="/register">Register</a>
  <a routerLink="/login">Login</a>

  <a routerLink="/customers/">Component1</a>

  <a routerLink="/customers/component2">Component2</a>

  <a routerLink="/customers/component3">Component3</a>

  <a routerLink="/customers/component4">Comp4 </a>

</nav> -->

<router-outlet></router-outlet>

<app-footer></app-footer>

