<div [formGroup]="employeeForm">
  <div class="form-group">

    <label for="name">Name</label>
    <input id="name" placeholder="Enter Name" formControlName="name">

    <div class="alert alert-danger"
      *ngIf="employeeForm.get('name').errors && (employeeForm.get('name').touched || employeeForm.get('name').dirty) ">
      <div *ngIf="employeeForm.get('name').errors.required">
        Please enter your Name!
      </div>

      <div *ngIf="employeeForm.get('name').errors.minlength">
        Name should be atleast 3 characters long!
      </div>
    </div>

  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" placeholder="Enter Email" formControlName="email">

    <div class="alert alert-danger" *ngIf="employeeForm.get('email').errors && (employeeForm.get('email').touched || employeeForm.get('email').dirty) ">
      <div *ngIf="employeeForm.get('email').errors.required">
        Please enter your Email!
      </div>

      <div *ngIf="employeeForm.get('email').errors.minlength">
        Email should be atleast 4 characters long!
      </div>

      <div *ngIf="employeeForm.get('email').errors.pattern">
        Please provide valid email address!
      </div>

      <div *ngIf="employeeForm.get('email').errors.emailTaken">
        Sorry, this email is already taken!
      </div>

    </div>
<!--    <div *ngIf="employeeForm.get('email').errors && employeeForm.get('email').dirty">-->
<!--       <div *ngIf="employeeForm.get('email').errors.emailDomain">-->
<!--         Provide email address with gmail domain only!-->
<!--       </div>-->
<!--    </div>-->

  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" placeholder="Enter Password" formControlName="password">

    <div class="alert alert-danger"
      *ngIf="employeeForm.get('password').errors && (employeeForm.get('password').touched || employeeForm.get('password').dirty) ">
      <div *ngIf="employeeForm.get('password').errors.required">
        Please enter your Password!
      </div>

      <div *ngIf="employeeForm.get('password').errors.minlength">
        Password should be atleast 4 characters long!
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" placeholder="Re-enter Password" formControlName="confirmPassword">

    <div class="alert alert-danger"
      *ngIf="employeeForm.get('confirmPassword').errors && (employeeForm.get('confirmPassword').touched || employeeForm.get('confirmPassword').dirty) ">
      <div *ngIf="employeeForm.get('confirmPassword').errors.required">
        Please enter your Password again!
      </div>
      <div *ngIf="employeeForm.get('confirmPassword').errors.confirmPassword">
        Passwords do not match!
      </div>
    </div>
  </div>

</div>
